* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 16px 250px;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header-nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
}
.nav-link {
    font-size: 18px;
    text-decoration: none;
    color: #E5E7EB;
}


.hero {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    padding: 50px 250px;

}

.hero-left {
    width: 500px;
}

.hero-title {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 16px;
    color: #F9FAF8;
}

.hero-text {
    margin-bottom: 16px;
    font-size: 18px;
    color: #E5E7EB;
}

.hero-button {
    background-color: #3882f6;
    border-radius: 5px;
    border: none;
    color: #F9FAF8;
    width: 100px;
    height: 30px;
}

.hero-image {
    flex: 1;
    max-width: 450px;
    height: 250px;
    background-color: #6B7280;
}

.main {
    padding: 24px 200px;
    text-align: center;
}

.main-title {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin-bottom: 24px;  
}

.container {
    display: flex;
    gap: 32px;
    justify-content: center;
}

.card {
    width: 150px;
  }

.card img {
    border: 2px solid #3882f6;
    width: 150px;
    height: 150px;
    border-radius: 15px;
}

.card p {
    font-size: 18px;
    color: #1F2937;  
}

.quote {
    background-color: #E5E7EB;
    padding: 100px 300px;
}

.quote-text {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
}

.quote-author {
    text-align: right;
    font-weight: bold;
    font-size: 18px;
  }